Package: com.leemin.helium
Name: Helium
Version: 3.2.6-1
Section: Utilities
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm64e
Author: leminlimez, AsakuraFuuko
Maintainer: Helium RootHide build
Description: Status bar widgets for RootHide jailbroken iOS devices.
